Repository EDM115/vscode-kotlin, changes with the labels that .github/labeler.yml gives for each.
All labels: grammar, extension

fix syntax highlighting problem for trailing lambda in string interpolation
  syntaxes/kotlin.tmLanguage.json
Labels: grammar

fix syntax highlighting problem for trailing lambda in string interpolation
  syntaxes/kotlin.tmLanguage.json
Labels: grammar

chore: use patched server and debugger
  src/serverDownloader.ts
Labels: extension

chore: disable publish to VSC marketplace
  .github/workflows/deploy.yml
Labels: none

chore: add scripts for release
  scripts/release_version.py
  scripts/utils/__init__.py
  scripts/utils/changelog.py
  scripts/utils/cli.py
  scripts/utils/lists.py
Labels: none

Bump version to 0.3.0
  CHANGELOG.md
  package.json
Labels: none

chore: fix launch debug
  .vscode/launch.json
Labels: none

fix: paths with spaces are handled
  src/debugSetup.ts
  src/languageSetup.ts
Labels: extension

.github/labeler.yml:

grammar:
  - changed-files:
    - any-glob-to-any-file:
        - syntaxes/**/*

extension:
  - changed-files:
    - any-glob-to-any-file:
        - src/**/*
